<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let payment of userService.payments" (click)="openPayment(payment)">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h2>{{payment.note}}</h2>
            <p>{{payment.createDate | date: 'dd.MM.yyyy - HH:mm'}}</p>
            <p>No. of sharers: {{payment.usersInvited?.length}}</p>
          </ion-col>
          <ion-col col-6>
            <h3 style="float: right; font-size: 25px; padding-top: 13px">{{payment.amount}}$</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
