<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Overview" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Recent" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Social" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="contacts"></ion-tab>
</ion-tabs>
