<ion-header>
  <ion-toolbar>
    <ion-title>
      New lifetime event
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>Event name:</ion-label>
      <ion-input type="text" [(ngModel)]="newEvent.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of occurrance</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="newEvent.occurDate"></ion-datetime>
    </ion-item>
    <button style="float: right;" ion-button (click)="save()">Save</button>
  </ion-list>
</ion-content>
