<ion-header>
  <ion-toolbar>
    <ion-title>
      Update info
    </ion-title>
    <!--<ion-buttons start>-->
      <!--<button ion-button (click)="dismiss()">Cancel</button>-->
    <!--</ion-buttons>-->
    <ion-buttons end>
      <button ion-button (click)="saveInfo()">Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>First name</ion-label>
      <ion-input [(ngModel)]="userService.user.firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last name</ion-label>
      <ion-input [(ngModel)]="userService.user.lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Birthday</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="YYYY-MM-DD" [(ngModel)]="userService.user.birthDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone number</ion-label>
      <ion-input [(ngModel)]="userService.user.phoneNumber" type="tel"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
