<ion-header>
  <ion-toolbar>
    <ion-title>
      New split
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Amount to split
    </ion-card-header>
    <ion-card-content style="text-align: center">
      <h3 style="font-size: 30px">30$</h3>
      <!-- Add card content here! -->
    </ion-card-content>
  </ion-card>
  <div padding>
    <ion-item>
      <ion-label>Return on failed</ion-label>
      <ion-toggle [(ngModel)]="returnOnFailed"></ion-toggle>
    </ion-item>
  </div>

  <div padding style="text-align: center">
    <button ion-button>ACCEPT</button>
    <button ion-button>DECLINE</button>
  </div>
</ion-content>
