<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editInfo()">Edit</button>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>First Name: {{userService.user.firstName}}</h2>
  <h2>Last Name: {{userService.user.lastName}}</h2>
  <h2>Birthday: {{userService.user.birthDate}}</h2>
  <h2>Phone number: {{userService.user.phoneNumber}}</h2>
</ion-content>
