<ion-header>
  <ion-toolbar>
    <ion-title>
      Life events
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="createNewEvent()">
        <span ion-text color="primary">New</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<button ion-button (click)="facebookInit()">shazam</button>-->
  <ion-list>
    <ion-item-sliding  *ngFor="let event of userService.lifeEvents">

    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
      <h3>{{event.name}}</h3>
      <h4>Date: {{event.occurDate | date: 'dd.MM.yyyy'}}</h4>
    </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeEvent(event._id)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
