<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Accounts
    </ion-list-header>
    <ion-item *ngFor="let account of userService.accounts">
       {{account.iban}}
      <p>Balance: <b>{{account.balance.amount}}</b> {{account.currencyCode}}</p>
    </ion-item>
  </ion-list>
  <button ion-button color="red" (click)="openPaymentModal()">Initiate split payment</button>
  <button ion-button color="red" (click)="openRequestModal()">rrr</button>
  <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
</ion-content>
