<ion-header>
  <ion-navbar>
    <ion-title>
      {{payment.note}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="padding: 0px;">
      <div padding>
        <h3 ion-text>Amount: {{payment.amount}}$</h3>
        <h3 ion-text>Note: {{payment.note}}</h3>
      </div>
      <ion-list no-lines>
        <ion-list-header>
          Participants
        </ion-list-header>
        <button ion-item detail-none *ngFor="let user of payment.usersInvited">
          {{ user.firstName }} {{ user.lastName }}
        </button>
      </ion-list>
      <!-- Add card content here! -->
    </ion-card-content>

  </ion-card>
</ion-content>
