<ion-header>
  <ion-navbar>
    <ion-title>
      Payment pending
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="text-align: center">
  <h3>Friends accepted 3/5</h3>
  {{userService.activePaymentPending | json}}
</ion-content>
