<ion-header>
  <ion-toolbar>
    <ion-title>
      New split
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="text-align: center">
      Amount to split
    </ion-card-header>
    <ion-card-content style="text-align: center">
      <button ion-button (click)="decrementAmount()">
        <ion-icon name="md-remove-circle"></ion-icon>
      </button>
      <input type="number" [(ngModel)]="amount" class="amount-input">
      <button ion-button (click)="incrementAmount()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>

      <!--<input type="text" [(ngModel)]="note">-->
      <!-- Add card content here! -->
    </ion-card-content>

  </ion-card>
  <div *ngIf="step == 0">
    <ion-searchbar (ionInput)="filterFriendlist($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let user of userService.friendList | filter: searchWord: ['firstName', 'lastName']">
        <ion-label>{{user.firstName}} {{user.lastName}}</ion-label>
        <ion-checkbox color="green" [checked]="checkSelected(user.userId)" (ionChange)="friendSelected($event, user.userId)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div padding style="position: absolute; bottom: 0; width: 100%">
      <p>Selected: {{selectedUserIds.length}} friends</p>

      <button [disabled]="selectedUserIds.length == 0" ion-button full (click)="nextStep()">Proceed
      </button>
    </div>
  </div>
  <div *ngIf="step == 1">
    <ion-list radio-group [(ngModel)]="bankAccountId">
      <ion-list-header>
        Choose an account
      </ion-list-header>
      <ion-item *ngFor="let account of userService.accounts">
        <ion-label>
          <p>{{account.iban}}</p>
          <p>Balance: <b>{{account.balance.amount}} {{account.currencyCode}}</b></p>
        </ion-label>
        <ion-radio [value]="account.iban"></ion-radio>
      </ion-item>
    </ion-list>
    <div padding style="position: absolute; bottom: 0; width: 100%">
      <p>Selected: {{selectedUserIds.length}} friends</p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button [disabled]="selectedUserIds.length == 0" ion-button full (click)="previousStep()">Back</button>
          </ion-col>
          <ion-col>
            <button [disabled]="!bankAccountId" ion-button full (click)="initiatePayment()">Initiate split
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>
